
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post" action="/account/login">
        <input type="text" name="username" />
        <input type="password" name="password"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
